$usc-grey: #636f73;
$usc-blue: #1b89ca;
$screen-sm: 40em;
$screen-md: 64em;

/* apply a natural box layout model to all elements */
html, *, *:before, *:after  {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/* reset some common browser styles */
h1, h2, h3, h4, h5, h6, p, ul, li, ol{
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	color: $usc-grey;
	font-size: 20px;
	font-weight: 300;
	font-family: "proxima-nova",sans-serif;
	@media screen and (max-width: 40em){
		font-size: 16px;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap:   break-word;
}

body{
	background: url(../img/river-topleft.svg) left top no-repeat, url(../img/river-bottomright.svg) right bottom no-repeat, url(../img/arrow.svg) 5% calc(100% - 50px) no-repeat;
	background-size: 269px 178px, 263px 168px, 230px 100px;
	padding: 20px;
	// left, right, arrow

	@media screen and (max-width: 40em){
	background: url(../img/river-topleft.svg) left -75px no-repeat, url(../img/river-bottomright.svg) right bottom no-repeat, url(../img/arrow.svg) 5% calc(100% - 50px) no-repeat;	
	background-size: 269px 178px, 263px 168px, 230px 100px;
	}
}

a{
	color: $usc-blue;
	transition:0.25s all;
	&:hover{
		color: #00ccff;
	}
}

.content{
	max-width: 800px;
	margin: 0 auto;
	#header{	

		.logo a{
			text-indent: -9999px;
			background: url(../img/logo.svg);
			display: block;
			width: 305px;
			height: 63px;
			margin: 40px auto 20px;
			background-size: 305px 63px;
		}
		nav ul li{
			display: inline-block;
			margin: 0 auto;
			text-transform: uppercase;
			padding: 10px 20px;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 1px;
			a{
				text-decoration: none;
			}
			@media screen and (max-width: 40em){
			display: block;
			}
		}
		nav ul{
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
		}
		margin-bottom: 140px;
		@media screen and (max-width: 40em){
			margin-bottom: 60px;
		}
	}
	
	//CONTENT MIDDLE
	h2{
		font-size: 80px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 20px;
		@media screen and (max-width: 40em){
		font-size: 45px;
		}
	}
	h3{
		font-size: 40px;
		font-weight: 300;
		margin: 105px 0 15px;
		@media screen and (max-width: 40em){
			margin: 60px 0 10px;
			font-size: 30px;
		}
	}
	h4{
		font-size: 20px;
		font-weight: bold;
		color: $usc-blue;
		margin: 45px 0 0;
		@media screen and (max-width: 40em){
			font-size: 16px;
			margin: 20px 0 0 0;
		}
	}
	p{
		line-height: 1.5;
		margin-bottom: 30px;
	}
	p.large{
		font-size: 26px;
		@media screen and (max-width: 40em){
			font-size: 20px;
		}
	}
	//END CONTENT MIDDLE

	#footer{
		ul{
			list-style: none;
			margin: 0 0 30px;
			padding: 0;
			line-height: 1.5;
		}
		padding: 90px 0 180px;	
		@media screen and (max-width: 40em){
			padding: 60px 0 120px;
		}	
	}
}

.amanda-bio {
	max-width: none;
	width: 140%;
	margin: 100px -20% -50px;
	@media screen and (max-width: 40em){
		margin-top: 40px;
		margin-bottom: -20px;
	}
}
.amanda-fishing{
	float: left;
	width: 45%;
	margin: 0 5% 50px 0;
	@media screen and (max-width: 40em){
		margin-bottom: 5px;
	}
}
